@tailwind base;
@tailwind components;
@tailwind utilities;

.title-content {
	text-align: center;
	font-family: Cormorant;
}

button {
    -webkit-tap-highlight-color: transparent;
}

a {
    -webkit-tap-highlight-color: lightgray;
}

section {
    -webkit-tap-highlight-color: transparent;
}

.podbar {
    bottom:0;
    position:fixed;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
}

.flip-x-axis {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transform: rotate(90deg);
}

.flip-y-axis {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.padding-top-page-content {
    padding-top: 2rem;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .padding-top-page-content {
        padding-top: 5rem;
    }
}

.corner-leaves-top-left {
    top: -3rem;
    left: -5rem;
}


.corner-leaves-top-right {
    top: -3rem;
    right: -5rem;
    /* transform: rotate(90deg); */
    transform: scaleX(-1);
}

.disable-drag {
    -webkit-user-drag: none;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid purple;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.oval {
    clip-path: ellipse(28rem 31.5rem);
    
}