@tailwind base;
@tailwind components;
@tailwind utilities;

.title-content {
	text-align: center;
	font-family: Cormorant;
}

button {
    -webkit-tap-highlight-color: transparent;
}

a {
    -webkit-tap-highlight-color: lightgray;
}

section {
    -webkit-tap-highlight-color: transparent;
}

.podbar {
    bottom:0;
    position:fixed;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
}